# Entornos virtuales
venv/
.venv/
env/

# Archivos de base de datos
db.sqlite3

# Archivos de compilación Python
__pycache__/
*.pyc
*.pyo

# Archivos estáticos generados
/staticfiles/
/media/

# Configuración sensible
.env

# Archivos temporales
*.log
*.pot
*.py~ 
*.tmp
*.swp

# Archivos de VSCode o IDEs
.vscode/
.idea/
